h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(203, 203, 203);
    text-shadow: 3px 3px 4px black;
    border: 2px solid black;
    background: linear-gradient(45deg, purple, red, white);
}

nav {
    width: 100%;
    border: 2px solid black;
    padding: 12px;
    background-color: brown;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bolder;
}

.box {
    margin: 12px;
    width: 100%;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.boxes {
    margin: 10px;
    width: 30%;
    height: 20vh;
    border: 2px solid red;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}